<!-- Botón para abrir menú de filtrado -->
<button (click)="showOrHideFilterMenu()" class="btn-show-filter" mat-raised-button color="primary">
    <mat-icon *ngIf="openFilterMenu == false" aria-hidden="false" aria-label="Example home icon">add</mat-icon>
    <mat-icon *ngIf="openFilterMenu == true" aria-hidden="false" aria-label="Example home icon">close</mat-icon>
    Agregar filtro
</button>

<!-- Menu para filtrar -->
<div *ngIf="openFilterMenu">
    <mat-accordion class="example-headers-align filter-menu" multi>
        <mat-expansion-panel [expanded]="idFilterItem === 1 && someItemSelected" (opened)="setFilterItem(1)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Columnas
                </mat-panel-title>
                <mat-panel-description>
                    Muestra u oculta columnas
                </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Aqui irán los checkboxs para mostrar o no las columnas -->
            <strong>Aquí iran los checkboxs para mostrar u ocultar las columnas</strong>

        </mat-expansion-panel>

        <!-- <mat-expansion-panel [expanded]="idFilterItem === 2" (opened)="setFilterItem(2)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Origen
                </mat-panel-title>
                <mat-panel-description>
                    Filtrar por origen
                </mat-panel-description>
            </mat-expansion-panel-header>

            <h3>test</h3>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="idFilterItem === 3" (opened)="setFilterItem(3)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Destino
                </mat-panel-title>
                <mat-panel-description>
                    Filtrar por destino
                </mat-panel-description>
            </mat-expansion-panel-header>

            <h3>test</h3>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="idFilterItem === 4" (opened)="setFilterItem(4)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Distancia
                </mat-panel-title>
                <mat-panel-description>
                    Filtrar por un rango de distancia
                </mat-panel-description>
            </mat-expansion-panel-header>

            <h3>test</h3>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="idFilterItem === 5" (opened)="setFilterItem(5)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Medios
                </mat-panel-title>
                <mat-panel-description>
                    Filtrar por medios de transporte
                </mat-panel-description>
            </mat-expansion-panel-header>

            <h3>test</h3>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="idFilterItem === 6" (opened)="setFilterItem(6)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Duración
                </mat-panel-title>
                <mat-panel-description>
                    Filtrar por un rango de duración
                </mat-panel-description>
            </mat-expansion-panel-header>

            <h3>test</h3>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="idFilterItem === 7" (opened)="setFilterItem(7)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Disponibilidad
                </mat-panel-title>
                <mat-panel-description>
                    Filtrar por disponibilidad del viaje
                </mat-panel-description>
            </mat-expansion-panel-header>

            <h3>test</h3>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="idFilterItem === 8" (opened)="setFilterItem(8)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Empresas
                </mat-panel-title>
                <mat-panel-description>
                    Filtrar por empresas de transporte
                </mat-panel-description>
            </mat-expansion-panel-header>

            <h3>test</h3>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="idFilterItem === 9" (opened)="setFilterItem(9)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Precio
                </mat-panel-title>
                <mat-panel-description>
                    Filtrar por rango de precios
                </mat-panel-description>
            </mat-expansion-panel-header>

            <h3>test</h3>

        </mat-expansion-panel> -->

    </mat-accordion>
</div>


<!-- Tabla con la información de los viajes -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Origin Column -->
    <ng-container matColumnDef="origin">
        <th mat-header-cell *matHeaderCellDef> Origen </th>
        <td mat-cell *matCellDef="let element"> {{element.origin}} </td>
    </ng-container>

    <!-- Destinity Column -->
    <ng-container matColumnDef="destiny">
        <th mat-header-cell *matHeaderCellDef> Destino </th>
        <td mat-cell *matCellDef="let element"> {{element.destiny}} </td>
    </ng-container>

    <!-- Distance Column -->
    <ng-container matColumnDef="distance">
        <th mat-header-cell *matHeaderCellDef> Distancia </th>
        <td mat-cell *matCellDef="let element"> {{element.distance}} </td>
    </ng-container>

    <!-- Medium Column -->
    <ng-container matColumnDef="medium">
        <th mat-header-cell *matHeaderCellDef> Medio </th>
        <td mat-cell *matCellDef="let element"> {{element.medium}} </td>
    </ng-container>

    <!-- TravelTime Column -->
    <ng-container matColumnDef="travelTime">
        <th mat-header-cell *matHeaderCellDef> Duracion </th>
        <td mat-cell *matCellDef="let element"> {{element.travelTime}} </td>
    </ng-container>

    <!-- Availability Column -->
    <ng-container matColumnDef="availability">
        <th mat-header-cell *matHeaderCellDef> Disponibilidad </th>
        <td mat-cell *matCellDef="let element"> {{element.availability}} </td>
    </ng-container>

    <!-- SupplierCompany Column -->
    <ng-container matColumnDef="supplierCompany">
        <th mat-header-cell *matHeaderCellDef> Transportadora </th>
        <td mat-cell *matCellDef="let element"> {{element.supplierCompany}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>